body{
  background-color: honeydew;
}
.menu-body {
  max-width: 680px;
  margin: 0 auto;
  display: block;
  color: rgb(92, 92, 92);
}
 
.menu-section {
  margin-bottom: 80px;
}
 
.menu-section-title {
  font-family: 'Lobster Two', cursive;
  font-size: 50px;
  display: block;
  font-weight:normal;
  margin: 20px 0; 
  text-align: Center;
  color: black;
}
 
.menu-item {
  margin: 35px 0;
  font-size: 18px;
}
 
.menu-item-name{
  font-family: 'Berkshire Swash', cursive;
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
  color: black;
}
 
.menu-item-description {
  font-style: italic;
  font-size: .9em;
  line-height: 1.5em;
  font-color: slategrey;
}
 
.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: 'Berkshire Swash', cursive;
  margin-top: -22px;
  color: black;
}