body{
  background-color: honeydew;
}
* {
    margin: 0px;
}

header {
  font-size: 150%;
  padding-bottom: 15px;
}

article {
  font-size: 125%;
  padding-left: 5px;
}

body, html {
    width: 100%;
    height: 100%
}

p {
  padding-left: 10px;
}

img {
  padding-bottom: 10px;
}
.container {
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    height: 200px;
    background-color: #ccc;
}

.box {
    width: 16.66666666%;
    height: 350px;
    float: left;
}

.box1 {
    background-color: bisque; 
}

.box2 {
    background-color: cornsilk;
}

.box3 {
    background-color: bisque;
}

.box4 {
    background-color: cornsilk;
}

.box5 {
    background-color: bisque;
}

.box6 {
    background-color: cornsilk;
}

.clearfix {
    clear: auto;
}

@media screen and (max-width: 768px) {
     .box1 {
        width: 33.3%;
     }

     .box2 {
        width: 33.3%;
     }

     .box3 {
        width: 33.3%;
     }

     .box4 {
        width: 33.3%;
     }

     .box5 {
        width: 33.3%;
     }

     .box6 {
        width: 33.3%
     }
}

@media screen and (max-width: 425px) {
    .box1 {
        width: 100%;
    }

    .box2 {
        width: 100%;
     }

     .box3 {
        width: 100%;
     }

     .box4 {
        width: 100%;
     }

     .box5 {
        width: 100%;
     }

     .box6 {
        width: 100%
     }
}

a:link, a:visited {
    background-color: lavender;
    color: black;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center; 
    display: inline-block;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 23px;
    font-family: 'Lobster Two', cursive;\
    font-size: 250%
    outline: 1px solid black;

    }

    a:hover, a:active {
    background-color: lightpink;
    outline: 1px solid black;
}
